body{
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand{
    margin-left: 30px;
}

.navbar{
    background-color: #F77878;
}

.quem-somos{
    background-color: lightgreen;
    color: black
}

.margin{
    padding-top: 15px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #B89FF5;
}

.atividades{
    background-color: #EED2F3;
    font-size: 20px;
}

.bg-footer{
    background-color: lightblue;
}
